.calendar-hour {
  min-height: 60px !important;
}

.calendar-layer {
  position: absolute !important;
}

.add-time {
  font-size: 32pt;
  visibility: hidden;

}

.plus:hover .add-time {
  visibility: visible;
  cursor: pointer;
}

.calendar-bg {
  z-index: 5;
}

.calendar-fg {
  z-index: 10;
}
