.calendar-hour {
  min-height: 60px !important;
}

.calendar-layer {
  width: inherit;
}

tr {
  height: 8em !important;
}

th {
  height: 6em !important;
}

td {
  padding: none !important;
}

.container {
  position: relative;
}

.table {
  width: inherit;
}

.add-time {
  font-size: 32pt;
  visibility: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    cursor: auto;
  }
  50% {
    opacity: 0;
    background-color: lightgreen;
  }
  100% {
    opacity: 1;
    background-color: transparent;
  }
}

.plus:hover .add-time {
  visibility: visible;
}

.plus {
  z-index: 1;
}

.plus:hover {}

/* background empty table box */

.calendar-bg {
  padding: none !important;
  width: inherit;
  height: inherit;
  z-index: 10;
}

.time {
  position: relative;
  background-color: white;
}

/* foreground table parent */

.calendar-fg {
  z-index: 15;
}

.calendar-event {
  z-index: 20;
  position: absolute;
  min-height: 100px;
}

.calendar-tile {
  position: relative !important;
}

.available {
  background-color: #71BE82;
}

.status-text {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

.unavailable {
  background-color: #F199A7;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-invis {
  min-height: 4em;
}

.btn-invis:hover {
  background: transparent;
  border: none !important;
  width: inherit;
  height: inherit;
  cursor: pointer;
}
