<div class="button-panel d-inline">
  <a class="btn btn-primary" href="/calendar-weekly-user-create">
    Book Appointments
  </a>
  <a class="btn btn-primary" href="/calendar-weekly-user-check-in">
    Check-In Patients
  </a>
  <a class="btn btn-primary" href="/calendar-weekly-user-manage-missed">
    Manage Missed Appointments
  </a>
</div>
