<div id="navbar-links" class="navbar-nav ml-auto">
  <a class="nav-item nav-link" href="/">
    Home
  </a>
  <a class="nav-item nav-link" href="/login">
    Login
  </a>
  <a class="nav-item nav-link" href="/about">
    About
  </a>
  <a class="nav-link btn btn-primary" href="appointments" role="button">
    Book Appointment
  </a>
</div>
