<div id="navbar-links" class="navbar-nav ml-auto">

    <a class="nav-item my-auto" href="/">
      <i class="fas fa-home"></i>
      <div class="nav-link d-inline">
          Home
      </div>
    </a>

    <a class="nav-item my-auto" href="/login">
      <i class="fas fa-sign-in-alt"></i>
      <div class="nav-link d-inline">
          Login
      </div>
    </a>

    <a class="nav-item my-auto" href="/about">
      <i class="fas fa-file-alt"></i>
      <div class="nav-link d-inline">
          About
      </div>
    </a>

  <a class="nav-link btn btn-primary" href="appointments" role="button">
    <i class="far fa-calendar-alt"></i>
    Book Appointment
  </a>

</div>
