<div id="navbar-links" class="navbar-nav ml-auto">
  <a class="nav-item nav-link" href="/dashboard">
    Dashboard
  </a>
  <a class="nav-item nav-link" href="/calendar-weekly">
    Calendar
  </a>
  <a class="nav-item nav-link" href="/allPatients">
    PatientData
  </a>
  <a class="nav-item nav-link" href="/logout">
    Logout
  </a>
</div>
