<div id="navbar-links" class="navbar-nav ml-auto">
  <a class="nav-item my-auto" href="/dashboard">
    <i class="fas fa-columns"></i>
    <div class="nav-link d-inline">
      Dashboard
    </div>
  </a>
  <a class="nav-item my-auto" href="/calendar-weekly">
<i class="far fa-calendar-alt"></i>
    <div class="nav-link d-inline">
      Calendar
    </div>
  </a>
  <a class="nav-item my-auto" href="/allPatients">
    <i class="fas fa-list-ul"></i>
    <div class="nav-link d-inline">
      Patient Data
    </div>
  </a>

  <a class="nav-item my-auto" href="/logout">
    <i class="fas fa-sign-out-alt"></i>
    <div class="nav-link d-inline">
      Logout
    </div>
  </a>
</a>
</div>
