<%contentFor('body') %>

<div class= "jumbotron">

      <p class="lead">You are only allowed to book an appointment one month in advance.</p>

      <div class="row tall-button-row">
            <div class="col-md-4">
                <a class="btn btn-secondary btn-block" href="book-appointments">Book new appointment</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-secondary btn-block" href="#">Cancel an appointment</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-secondary btn-block" href="#">View appointments</a>
            </div>
        </div>

    </div>
