<% contentFor('css'); %>
  <link rel="stylesheet" href="/css/calendar-weekly.css">

  <% contentFor('body'); %>

    <table class="table table-bordered">
      <thead>
        <th scope="col" style="width: 5%" class="text-right">
          Time
        </th>

        <% for (day of days) { %>
          <th scope="col" style="width: 10%" class="text-center">
            <%= day %>
          </th>
        <% } %>

      </thead>
      <tbody>

        <% for (var i = 0; i < 10; i++) { %>
          <tr>
            <td class="text-right"><%=i%>:00</td>
            <% for (var j = 0; j < days.length; j++) { %>
              <td class="text-center plus">
                  <i class="far fa-plus-square add-time"></i>
              </td>
            <% } %>
          </tr>
        <% } %>

      </tbody>

    </table>
  </div>
