<%- contentFor('css') %>
  <link rel="stylesheet" href="/css/dashboard.css">

  <%- contentFor('body') %>
    <div class="container-grid">
      <a href="/calendar-weekly-user-create" class="card control-card mx-auto card-appoint">
        <div class="card-body">
          <div class="card-icon text-center align-middle h-100">
            <i class="fas fa-calendar-alt"></i>
          </div>
          <div class="card-name float-left pb-1">
            Create &nbsp;
            Appointments <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </a>

      <a href="/allPatients" class="card control-card mx-auto card-patient">
        <div class="card-body">
          <div class="card-icon text-center align-middle h-100">
            <i class="fas fa-address-card"></i>
          </div>
          <div class="card-name float-left pb-1">
            Patient &nbsp;
            Database <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </a>

      <a href="#" class="card control-card mx-auto card-manage">
        <div class="card-body">
          <div class="card-icon text-center align-middle h-100">
            <i class="fas fa-clipboard-list"></i>
          </div>
          <div class="card-name float-left pb-1">
            Manage &nbsp;
            Appointments <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </a>

    </div>
