<%- contentFor('body') %>

  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <div class="card bg-info">
        <div class="card-header text-white">View Appointments</div>
        <div class="card-body">
          <div class="card-text text-white">This is the button that
             receptionists press to view appointments.
             It will bring a receptionist to our calendar
             which will display appointments for up to one
             week in advanced.</div>
        </div>

      </div>
    </div>

    <div class="col col-lg-4">
      <div class="card bg-primary">
        <div class="card-header">Create Appointments</div>
      </div>
    </div>
  </div>
