<%- contentFor('css') %>
  <link rel="stylesheet" href="/css/signin.css">

  <%- contentFor('body') %>
    <div class="container">
      <div class="card">
        <% if (message.length > 0) { %>
          <div class="alert alert-danger col-sm-12"><%= message %></div>
        <% } %>
        <form class="form-signin w-50" action="login" method="post" novalidate="novalidate">
          <h1 class="h3 mb-3 font-weight-bold">Login</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="Username" id="username" class="form-control" placeholder="Username" name="username" required="required" autofocus="autofocus">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" name="password" required="required">

          <div class="container-fluid no-padding">
            <div class="row">
              <div class="col col-lg-6 text-nowrap">
              </div>
              <div class="col col-lg-auto"></div>
              <div class="col col-lg-4 float-right ml-auto">
                <input type="submit" class="btn bg-dark text-white" value="Sign In">
              </div>

            </div>

          </div>
        </form>
      </div>
