<%- contentFor('css'); %>
<link rel="stylesheet" href="/css/signin.css">

<%- contentFor('body') %>
<div class="container text-center">

  <form class="form-signin" action="login_attempt" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="Username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div>
      <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                                password?</a></span>
      <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
    </div>

</div>
