<%- contentFor('css') %>
  <link rel="stylesheet" href="/css/signin.css">


  <%- contentFor('body') %>
    <div class="container">
      <div class="card">
        <form class="form-signin w-50">
          <h1 class="h3 mb-3 font-weight-bold">Login</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="Username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

          <div class="container-fluid no-padding">
            <div class="row">
              <div class="col col-lg-6 text-nowrap">
                <a class="small-text align-middle" href="#">
                Forgot Password?
              </a>
              </div>
              <div class="col col-lg-auto"></div>
              <div class="col col-lg-4 float-right ml-auto">
                <input type="submit" class="btn bg-dark text-white" value="Sign In">
              </div>

            </div>

          </div>
        </form>
      </div>
